# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Docker
volumes/
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Project Specific
tmp/
models/
*.log

# Test Artifacts
frontend/playwright-report/
frontend/test-results/
frontend/tests-results/

# Storage & Temporary
storage/images/*
!storage/images/.gitkeep
var/
~/
