# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Docker
volumes/
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Project Specific
tmp/
models/
*.log
wget-log*

# Test Artifacts
frontend/playwright-report/
frontend/test-results/
frontend/tests-results/

# Storage & Temporary
backend/storage/images/*
!backend/storage/images/.gitkeep
backend/storage/documents/*
!backend/storage/documents/.gitkeep
!storage/images/.gitkeep
var/
~/

model/*.gguf
*.whl
